<h2>Programing Book List!</h2>

<!--------------------------------------------------------------------------->
<!-- Event Binding example -->
<!-- <button (click)="handleClick()" (mouseover)="handleClick()"    [disabled]="isShowing">Show</button> -->
<!--------------------------------------------------------------------------->

<!--------------------------------------------------------------------------->
<!-- Event Binding example -->
<button (click)="toggleBook()">
    <span *ngIf = "isShowing == false">Show Book</span>
    <span *ngIf = "isShowing == true">Hide Book</span>
</button>

<!--------------------------------------------------------------------------->







<!--------------------------------------------------------------------------->
<!-- one Way binding -->
<!-- <input  type = "text" (input)="handleInput($event)">
<p>{{ myName }}</p> -->
<!--------------------------------------------------------------------------->



<!--------------------------------------------------------------------------->
<!-- TWO Way binding -->
<!-- <input  type = "text" [(ngModel)]="myName">
<p>{{ myName }}</p>  -->
<!--------------------------------------------------------------------------->
 






<!--------------------------------------------------------------------------->
<!-- why we use Property Binding  -->
<!-- <button [disabled] = "isShowing">Show Books</button> -->
<!-- Все иделаьно работает  -->
<!-- Лучше использовать proporty Binding где это возможно  -->
<!--------------------------------------------------------------------------->
 


<!------------------------------------------------------------------------------------->
<!-- <button disabled = "{{isShowing}}">Show Books</button> -->
<!-- Так не работает потому что в этом случае он вопринимает это как строку  -->
<!-- не всегда работает -->
<!------------------------------------------------------------------------------------->



<!-- Property Binding example -->

<!-- *ngFor Example -->
<!------------------------------------------------------------------------------------->
<ul *ngIf = "isShowing">
    <li *ngFor="let book of books ; let i = index">
        {{ i }}
        <img [src]="book.src" [alt]="book.name" width="100px">
        {{book.name}} by {{book.author}}
    </li>
    
</ul>
<!------------------------------------------------------------------------------------->